IS_DEMO=false

APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

DEBUGBAR_ENABLED=false

IS_DEMO=false
FIREBASE_CREDENTIALS=firebase_credentials.json

STRIPE_API=pk_test_51Pz6Ul1oKfVhzG1Lj4pnnDDZeLFm489qUuvzugEcTt7oJu8mpNjXsXlWcRzzUmTMyfeUMcpgk1I9hnIXWSBb7MU1000eEJ12oi

STRIPE_SECRET_KEY=sk_test_51Pz6Ul1oKfVhzG1LtASUtAOiCjRo5qCeYtXNL71qTOAPYVaWsYQR76ntaAjyxtzrVzgZW28MH3w5E1m7fcN6GHE200QvKeQRPM


BROADCAST_DRIVER=pusher
PUSHER_APP_ID=your_app_id
PUSHER_APP_KEY=your_app_key
PUSHER_APP_SECRET=your_app_secret
PUSHER_APP_CLUSTER=mt1

TWILIO_ACCOUNT_SID=''
TWILIO_AUTH_TOKEN=''
TWILIO_SERVICE_SID=''
TWILIO_NOTIFY_SID=''
TWILIO_SENDGRID_API_KEY = ""